In [1]:
import numpy as np
import pandas as pd

In [2]:
df_1 = pd.read_csv("../processedData/tmdbData.csv")
df_2 = pd.read_csv("../processedData/latestMovies.csv")

In [3]:
df_1.shape, df_2.shape

((4799, 4), (750, 3))

In [4]:
df_1 = df_1[["original_title", "Tags"]]

In [5]:
df_1.rename(columns={"original_title" : "Title"}, inplace = True)

In [6]:
df_1.head()

,Title,Tags
0,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,Spectre,a cryptic messag from bond’ past send him on a...
3,The Dark Knight Rises,follow the death of district attorney harvey d...
4,John Carter,"john carter is a war-weary, former militari ca..."

In [7]:
df_2 = df_2[["Title", "Tags"]]

In [8]:
df_2.head()

                    Title                                               Tags
0  Underworld: Blood Wars  vampir death dealer selen fend off brutal atta...
1                 Arsenal  after the deadbeat brother of a businessman is...
2              Between Us  strand after a tragic plane crash, two strange...
3          Monster Trucks  tripp is a high school senior with a knack for...
4         The Bye Bye Man  when three colleg student move into an old hou...

In [9]:
data = pd.concat([df_1, df_2])

In [10]:
data.shape

(5549, 2)

In [11]:
data.head()

,Title,Tags
0,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,Spectre,a cryptic messag from bond’ past send him on a...
3,The Dark Knight Rises,follow the death of district attorney harvey d...
4,John Carter,"john carter is a war-weary, former militari ca..."

In [12]:
data.tail()

                 Title                                               Tags
745  Spies in Disguise  super spi lanc sterl and scientist walter beck...
746       Little Women  four sister come of age in america in the afte...
747               1917  at the height of the first world war, two youn...
748         Just Mercy  the power true stori of harvard-educ lawyer br...
749           Clemency  year of carri out death row execut have taken ...

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
tfidf = TfidfVectorizer(min_df=3, max_features = 5000, strip_accents = "unicode", analyzer = "word", stop_words = "english")

In [15]:
movieMatrix = tfidf.fit_transform(data["Tags"]).toarray()

In [16]:
movieMatrix.shape

(5549, 5000)

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
movieSimilarity = cosine_similarity(movieMatrix)

In [19]:
movieSimilarity.shape

(5549, 5549)

In [20]:
import pickle

In [21]:
data.to_csv("../processedData/FinalData.csv")
pickle.dump(movieSimilarity, open("../movieSimilarity.pkl", "wb"))